/*----------- site-wide standard styles ---------------*/

body {
    font-family: "Lora", serif;
    font-weight: 400;
    background-color: #eae7dc;
    color: #7a766c;
}

.bsuite-bg {
    background-color: #ddcbb1;
}

.welcome-content {
    padding-top: 4rem;
    }

.about-us-content,
.location-content {
    padding-top: 5rem;
    padding-bottom: 1rem;
}

.make-up-content,
.treatment-content {
    padding-top: 6rem;
    padding-bottom: 2rem;
}


/*----------- Nav ---------------*/

.navbar {
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
    z-index: 10;
}

.navbar-brand {
    font-size: 2rem !important;
}

.fa-bars,
.navbar a {
    color: #7a766c;
    font-size: 1.25rem;
}

.nav-item :hover {
    color: #e98074;
}

button:focus {
    outline-color: #e98074;
}


/*----------- Footer ---------------*/

footer {
    min-height: 120px;
    margin: 0;
    box-shadow: 0 -0.5rem 1rem rgba(0,0,0,.15);
    z-index: 10;
    font-size: 12px;
    text-align: center;
    padding-top: 15px;
}

.footer-info a:not([href]):not([tabindex]),
.footer-info a {
    font-size: 14px;
    color: #7a766c;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.footer-info a:not([href]):not([tabindex]):hover,
.footer-info a:hover {
    color: #e98074;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
    text-decoration: none;
}

.social-links li {
    padding: 5px;
    display: inline-block;
    font-size: 18px;
    
}

.social-links a i,
.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    line-height: 7px;
    text-align: center;
    color: #eae7dc;
    background-color: #7a766c;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links a i:hover,
.social-links li a i:hover {
    background-color: #e98074;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.block-divider {
    width: 95%;
    height: 2px;
    border: 0;
    margin-top: 10px;
    background-color: #e98074;
}

.website-info {
    font-size: 12px;
}

.website-info p {
    margin-bottom: 0.1rem;
}

/*----------- Modal ---------------*/

.modal-content .modal-header {
    background-color: #ddcbb1;
}

.modal-content .modal-body {
    background-color: #eae7dc
}

.form-control {
    background-color: #f6f5f4;
    color: #7a766c;
}

.form-control:focus {
    border-color: #e98074;
    box-shadow: 0 0 0 0.2rem #e98074;
}

.btn-primary {
    background-color: #e98074;
    border-color: #e98074;
    color: #f6f5f4
}

.btn-primary:not(:disabled):not(.disabled).active, 
.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:hover {
    background-color: #4d4533;
    border-color: #4d4533;
}

.btn-primary:focus {
    border-color: #e98074;
    box-shadow: 0 0 0 0.2rem #e98074;
}

.btn-secondary {
    background-color: #7a766c;
    border-color: #7a766c;
    color: #f6f5f4
}

.btn-secondary:hover {
    background-color: #4d4533;
    border-color: #4d4533;
}


/*----------- Index ---------------*/

.bsuite-welcome {
    padding: 15px 25px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}


/*----------- Index Carousel ---------------*/

.bsuite-carousel {
    padding-left: 0px;
    padding-right: 0px;
}


.carousel-inner {
    height: 80%;
    z-index: -10;
}

.carousel-item img {
    height: 100%;
}

.carousel-indicators li {
    background-color: #7a766c;
    height: 5px;
}

/*----------- About Us ---------------*/

.about-us img {
    padding: 10px 5px;
}

.about-us,
.about-us-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.about-us-info p {
   padding: 10px 25px;
}

.about-us-info a img {
    width: 50%;
    height: auto;
    padding: 5px 0;
}

.about-us-ytube i {
    padding-bottom: 15px;
}

.about-us-bd {
    margin-top: 15px;
    margin-bottom: 15px;
}

/*----------- Location ---------------*/


.map-location iframe {
    margin: 15px 0;
    width: 100%;
    height: 40vh;
}

.map-location,
.location-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.location-info h4 {
    line-height: 150%;
}



/*----------- Make-up ---------------*/

.make-up-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.make-up-info {
    padding-top: 15px;
}

.make-up-info a:not([href]):not([tabindex]):hover {
    color: #e98074;
    cursor: pointer;
}

/*----------- Treatments ---------------*/


.beauty-body h2,
.body-body h2,
.facial-body h2 {
    text-align: center;
}


.beauty-body h4,
.body-body h4,
.facial-body h4 {
    margin-top: 30px;
}


.treatment-listbd {
    width: 85%;
}

.treatments-info img {
    border: #ddcbb1 solid 2px;
}

.makeup-info,
.tanning-info,
.tinting-info,
.waxing-info,
.massage-info {
    display: flex;
    justify-content: space-between;
    padding: 0;
}

.treatment-button {
    display: flex;
    justify-content: center;
    padding: 25px;
}

.btn-lg {
    font-size: 1rem;
}

.treatment-footer {
    background-color:#ddcbb1;
}

.voucher-box {
    border:#e98074 solid 2px;
    padding: 15px 15px;
    text-align: center;
    font-size: 1rem;
    margin-top: 10px;
    
}

.voucher-box a:not([href]):not([tabindex]):hover {
    color: #e98074;
    cursor: pointer;
}

.price {
    text-align: right;
    margin-bottom: 0px;
}

/*----------- Responsive Design ---------------*/

@media only screen and (max-width: 575px) {
    .make-up-content img {
    height: 56.5vh;
    }
}

@media only screen and (min-width: 576px) and (max-width: 991px) {
    .make-up-content img {
    height: 76.5vh;
    }
}

@media only screen and (min-width: 768px) {
    body {
        font-size: 1.2rem;
    }
    footer {
        font-size: 18px;
    }
    .footer-info a:not([href]):not([tabindex]),
    .footer-info a {
        font-size: 20px;
    }
    .map-location iframe {
        height: 70vh;
    }
    
    .voucher-box {
        font-size: 1.5rem;
    }
    
  }

@media only screen and (min-width: 992px) {
    
    .carousel-fade {
        width: 95%;
    }
    
    .bsuite-welcome {
        padding-left: 0px;
    }
    
    .btn-lg {
    font-size: 1.5rem;
    }
    
    .make-up-content {
    height: 80.5vh;
    }
    
}
    
 
   
    
    
    